.navbar .title{
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #f0f0f0;
    padding: 10px;
}

.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

  
.navbar a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}
  
.navbar a:hover {
    background-color: #ddd;
}

.hamburger {
    justify-content: center;
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.hamburger .line {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 5px;
}
  
.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}




  
  /* Media query for responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
  
    .hamburger {
        display: flex;
    }
  
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }
  
    .menu.active {
        display: flex;
    }
}